
.tabledatagive1 {
  display: flex;
} 

.delete-btn-in-users {
  background-color: 
  #747980;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.update-btn-in-users {
  background-color: rgb(15, 14, 65)
  ;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.update-btn-in-users:hover{
  background-color: #747980;
  color: white;
}
.delete-btn-in-users:hover{
  background-color: rgb(15, 14, 65);
  color: white;
}

.header-for-userlist-text {
  margin-top: 70px;
    color: rgb(15, 14, 65);
    padding-top: 55px;
    padding-bottom: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-for-tittle-names-users {
  text-align: center;
  padding: 5px 10px;
}

.header-for-tittle-names-users th,td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
  padding: 5px 10px;
  text-align: center;
}
.header-for-tittle-names-users-table {
  border-collapse: collapse;
  width: 65%;
  background-color: rgb(15, 14, 65);
  color: white;
}
.table-data-give {
  background-color: white;
    color: rgb(15, 14, 65);
    font-size: 15px;
  padding: 5px 10px;
}
.header-for-tittle-names-users-table th{
  text-align: center;
  padding: 14px;
}