.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-heading {
    margin-bottom: 20px;
    margin-top: 80px;
  }
  
  .details-table {
    border-collapse: collapse;
    margin-bottom: 43px;
    background-color: white;
    color: white;
  }
  thead {
    background-color: rgb(15, 14, 65);
    color: white;
    font-size: 13px;
}
  .details-table1 {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .details-table1 th{
    /* border: 1px solid  */
    /* #747980; */
    padding: 8px;
    text-align: center;
    color: white;
    background-color: 
    rgb(15, 14, 65)
;

  }
  .details-table1 td {
    border: 1px solid 
    #747980;
    padding: 8px;
    text-align: center;
    color: rgb(15, 14, 65);
    font-size: 13px;
    background-color: 
    white;
    
  }
  
  .details-table th,
  .details-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .number-button {
    padding: 8px 16px;
    border: none;
    background-color: 
    #747980;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .number-button:hover {
    background-color: rgb(15, 14, 65)
    ;
    color: white;
  }
  
  .details-table th:first-child,
  .details-table td:first-child {
    font-weight: bold;
  }  
  .forhamburgermenuinall {
    margin-top: -100px;
  }