.container-for-remainnng-space-in-multidb {
    margin-top: 100px;
    color: black;
    margin-bottom: 50px;
}

.div-tag-for-all-tables-in-multidb table {
    margin-left: 50px; 
    margin-bottom: 50px;
}
.header-tag-fordb-dat {
    color: black;
    /* margin-left: -150px; */
}
.div-tag-for-all-tables-in-multidb div{
    margin-left: 20px;
}
.container-for-remainnng-space-in-multib {
    color: black;
    margin-top: 100px;
}
.for-input-tags-in-multidb {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid black;
}
.button-tag-in-multidb-page {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid black;
}
.span-tag-in-multidb {
    color: black;
}
.form-tag-in-multidb {
    margin-top: 10px;
}
form {
    width: 130%;
}