.container-for-remainnng-space-in-multidb {
    margin-top: 100px;
    color: black;
    margin-bottom: 100px;
}
.div-tag-for-all-tables-in-multidb {
    /* margin-left: 100px; */
    display: flex; 
}
.div-tag-for-all-tables-in-multidb table {
    margin-left: 0px; 
    margin-bottom: 50px;
}
.header-tag-fordb-dat {
    color: black;
    /* margin-left: -150px; */
}
.div-tag-for-all-tables-in-multidb div{
    margin-left: 50px;
}