.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-container label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-container input[type="file"] {
    margin-bottom: 20px;
  }
  
  .form-container button[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 70px;
  }
  
  .form-container p {
    margin-top: 20px;
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
  }
  
  .textdataforexcelfile {
    margin-top: 200px;
  }