.update-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
}
label{
  color: rgb(15, 14, 65);
}
.input-field {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid rgb(15, 14, 65);
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.submit-btn {
  padding: 10px 17px;
  border-radius: 13px;
  background-color: rgb(15, 14, 65);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 70px;
}

.reset-btn {
  padding: 10px 17px;
  border-radius: 13px;
  background-color: #747980;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;
}

.submit-btn:hover{
  background-color: #747980;
  color: white;
}
.reset-btn:hover {
  background-color: rgb(15, 14, 65);
  color: white;
}

.error-message {
  color: red;
}
.forhamburgermenuinupdate {
  margin-top: -50px;
}
.fortexttaginupdate {
  margin-top: 150px;
  color: rgb(15, 14, 65);
}