.image-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
} 

 .image-heading {
  margin-bottom: 20px;
}

.image-label {
  margin-right: 10px;
}

.image-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-button {
  margin-left: 30px;
  padding: 8px 16px;
  border: none;
  background-color: rgb(15, 14, 65);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-button:hover {
  background-color: 
  #747980;
}

.image {
  margin-top: 20px;
  max-width: 100%;
}
.forhamburgermenuinview {
  margin-top: -40px;
}
.image-heading {
  margin-top: 200px;
  color: rgb(15, 14, 65);
  font-size: 24px;
}
.image-container-for-both {
  margin-top: -20px;
}